<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Your cart:</h3>
    <h3>Items for sale:</h3>
    <p>Shoes - <a href="/cart/shoes"> Add to cart</a></p>
    <p>Napkins - <a href="/cart/napkins"> Add to cart</a></p>
    <p>Ice - <a href="/cart/ice"> Add to cart</a></p>
    <p>Monitor - <a href="/cart/monitor"> Add to cart</a></p>

  </body>
</html>
